body {
    background-image: url("https://itmeo.com/public/webgradients_png/002%20Night%20Fade.png");
    position: static;
}

#output {
    font-family: arial;
    font-weight: bold;
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.tiny { 
    background-color: yellow;
    color: white;
}

.short {
    background-color: red;
    color: white;
}

.medium {
    background-color: green;
    color: white;
}

.long {
    background-color: blue;
    color: white;
}

h1 {
    text-align: center;
    color: purple;
    font-size: 50px;
    margin-bottom: 10px;
}
textarea {
    display: block;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-color: lightblue;
}
button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 50px 55px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    width: 300px;
    height: 300px;
}

#colorSelect {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


