h1 {
    color: salmon;
}

#textbox {
}
#textarea1{
    padding-left: 170px;
    position: fixed;
}
h3 {
    padding-top: 300px;
}
#wordsss{
    position: fixed;
}
workpls { border: 1px solid; white-space: pre-wrap; }
/*HOL UP FAM*/
textarea {
  width: 100%;
  height: 6rem;
}

#output {
  font-family: Arial;
  line-height: 2rem;
  margin: 10%;
}

#output span {
  padding: 4px 2px;
  margin-right: 6px;
}

#output .shortest {
  background-color: rgba(255, 255, 0, 0.44);
}
#output .short {
  background-color: rgba(255, 192, 203, 0.62);
}
#output .medium {
  background-color: rgba(244, 67, 54, 0.6);
}
#output .long {
  background-color: rgba(128, 224, 31, 0.59);
}
#output .longest {
  background-color: rgba(0, 255, 255, 0.39);
}
/* woah there */
/* Button */
.dropbtn {
 float:left;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* dropdown position*/
.dropdown {
    position: relative;
    display: inline-block;
}
p {
}
/* content of the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* content of the dropdown colour and stuff*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* colour of dropdown*/
.dropdown-content a:hover {background-color: #f1f1f1}

/* make the content hover hidden*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* background colour of the button*/
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* fam hol up */
